$bg: #111217;
$sidebar: linear-gradient(to bottom right, #1A1C22, #282A35);
$text: #A0A0A0;
$sidebar_title: white;
$lime: #2ED297;
$lime_hover: #229A6E;
$sky: #07B4CD;
$gradient: linear-gradient(to right, $lime, $sky);
$invert-gradient: linear-gradient(to right, $sky, $lime);
$block_bg: #272934;